head {
	background-color: #ffffff;
	border-color: #cccccc
}

body {
	background-image: url("../images/subtle_waves.png");
}

#name	{
	position: absolute;
	top: 50px;
	left: 400px;
	text-align: center;
	background-color: #4aaaa5;
	width: 300px;
  	color: white;

}

#content { 
	color: #4aaaa5;
	font-size: 20px;
	width: 100px;
	position: absolute;
	top: 50px;
	right: 200px;
	padding: 10px;
	margin: 10px;

}

#pic {
	position: relative;
	height: 250px;
	width: 250px;
	float: left;
	margin: 10px;

}

#head2 {
	background-color: white;
	width: 600px;
	height: 450px;
	position: absolute;
	top: 200px;
	left: 400px;
	padding: 15px;	

}

#head3 {

background-color: white;
	width: 600px;
	height: 600px;
	position: absolute;
	top: 200px;
	left: 400px;
	padding: 15px;	
	float: left;

}

#box1 {
	background-color: white;
    float: left;
    height: 600px;
	width: 500px;
	padding: 20px;
	position: absolute;
	top: 200px;
	left: 100px;
	text-align: left;
   
}


#about {
	color: #4aaaa5;
	text-align: left;
	width: 300px;
}



#connect {
	width: 100%;
	color: #4aaaa5;
	font: 30px;
}



p 	{
		
		font-family: arial;
		text-align: auto;
		padding: 10px;
		font-size: 20px;
		color: #777777;
}


.links {
	float: left;
	width: 50px;
	margin: 5px;
	padding: 5px;
	height: 50px;	

	
}

#social {
	position: absolute;
	top: 200px;
	right: 100px;
	background-color: white;
	padding: 10px;
	width: 250px;
	height: 200px;
	text-align: center;


}


h6 {
	background: grey;
	font-family: georgia, times, serif;
	color: white;
	margin: 0;
	position: absolute;
	bottom: 50px;
	left:500px;

}

footer {
	background-color: #666666;


}